[run]
source = .
omit =
    test_*.py
    tests/*
    workspace/*
    conftest.py
    rag_ui.py
    cli.py
    api/*
    ui_adapters.py

[report]
fail_under = 98
exclude_lines =
    if __name__ == .__main__.:
    pragma: no cover
    raise NotImplementedError
    def __repr__

